extends layout

block content
  script(type="text/javascript" src="js/saveform.js")

  form(class="form-group" action="/savejudgement" id="formjudge" method="post")
    div(class="form-group")
      div(id = "rcorners")
            p
              |The user #{judge} does not exist. Whish create one?              
              input(id="judge",type="hidden", name="judge", value=judge)
              div(class="row" style="height: 50px")
                div(class="form-group" style="height: 50px")
                  div(class="col-sm-6")
                    input(type="submit" class="btn btn-default" onclick="createUser()" value="Create User.")
