extends layout

block content
  script(type="text/javascript" src="js/saveform.js")

  form(class="form-group" action="/savejudgement" id="formjudge" method="post")
    div(class="form-group")
      div(id = "rcorners")
            p
              |An hotel can be described for a hierarchy of parts and sub-parts. An feature(aspect) indicated:
            p
              |a) a part  component of e (e.g., room).
            p
              |b) an attribute of e (e.g., size ).
            p
              |c) an attribute of a part/component of e (e.g., bed confortable).

              input(id="id", type="hidden", name="id", value=id)
              input(id="judge",type="hidden", name="judge", value=judge)
              div(class="row" style="height: 50px")
                div(class="form-group" style="height: 50px")
                  div(class="col-sm-6")
                    input(type="submit" class="btn btn-default" onclick="instructions()" value="I understood.")
