doctype html
html
  head
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/experimental.css')
    link(rel='stylesheet', href='css/rateit.css')
    script(type='text/javascript' src='js/jquery-1.12.4.min.js')
    script(type='text/javascript' src='js/bootstrap.min.js')
    script(type='text/javascript' src='js/jquery.rateit.min.js')


    block title
      title #{title}
  body
    block content
    footer
      p Tank you for helping with this research
