extends layout
block content
    div(style = "margin:10%  20% 0 20%;")
      form(class="form-horizontal" action="/login", method="post")
        div(class="form-group")
            label(class="control-label col-sm-2",for="inputEmail3") User Name
            div(class="col-sm-10")
              input(type="text", name="name", class="form-control",placeholder="name",id="inputEmail3")
        div(class="form-group")
           div(class="col-sm-offset-2 col-sm-10")
              input(type="submit" class="btn btn-default")
