extends layout

block content
       script(type="text/javascript" src="js/saveform.js")

       div(id = "rcorners")
        form(class="form-group" action="/savejudgement" id="formjudge" method="post")
          div(class="form-group")
              div(id="rcorners3",class="content")
                Review: |#{content}
                p
                |author: #{author}                
                if stars
                  |overall: #{overall}
                  div(class="rateit" data-rateit-value=overall data-rateit-ispreset="true" data-rateit-readonly="true" style="margin: 0 0 0 10px;")

                input(id="id", type="hidden", name="id", value=id)
                input(id="judge",type="hidden", name="judge", value=judge)
              div(class="row")
                div(class="col-sm-6")
                        div(class="row" style="height: 50px")
                          label
                            |Check the aspects(features) commented in the text?
                        div(class="row" style="height: 50px;background-color: #c6e7e7")
                          div(class="checkbox titlesmall" )
                            Label
                              input(type="checkbox", name="value", checked=false)
                              |Price (e.g Price, money, cheap, etc.)
                        div(class="row" style="height: 50px")
                          div(class="checkbox titlesmall" )
                            label
                              input(type="checkbox", name="location", checked=false)
                              |Location (e.g distance, near, far, subway, etc.)
                        div(class="row" style="height: 50px;background-color: #c6e7e7")
                          div(class="checkbox titlesmall")
                            label
                              input(type="checkbox", name="Room", checked=false)
                              |Room (e.g room, size, bathroom, bath, etc.)
                        div(class="row" style="height: 50px")
                          div(class="checkbox titlesmall" )
                            label
                              input(type="checkbox", name="Clean", checked=false)
                              |Clean (e.g: Cleanliness, cleaning, smell, smoke, etc.)
                        div(class="row" style="height: 50px;background-color: #c6e7e7")
                          div(class="checkbox titlesmall")
                            label
                              input(type="checkbox", name="Service", checked=false)
                              |Service (e.g staff, reception, check-in, checkout, bartender)
                        div(class="row" style="height: 50px")
                          div(class="checkbox titlesmall")
                            label
                              input(type="checkbox", name="Sleep", checked=false)
                              |Sleep Quality (e.g bed, bedroom, pillow, sofa, linen)
                        div(class="row" style="height: 50px;background-color: #c6e7e7")
                          div(class="checkbox titlesmall")
                            label
                              input(type="checkbox", name="Facility", checked=false)
                              |Facility (e.g wifi, pool, gym, business)
                        div(class="row" style="height: 50px")
                          div(class="checkbox titlesmall")
                            label
                              input(type="checkbox", name="Food", checked=false)
                              |Food (e.g breakfast,salad, restaurant, meal, bar)
                div(class="col-sm-6")
                        div(class="row" style="height: 50px")
                          label
                            |According with the review how important are these features for #{author}?
                        div(class="row" style="height: 50px;background-color: #c6e7e7")
                          select(class="selectpicker", data-style="btn-info", name="weightvalue" style="margin: 10px 0 0 0")
                                  option(value="1") Not important
                                   option(value="2") Less important
                                   option(value="3") Indifferent
                                   option(value="4") Important
                                   option(value="5") Very Important
                        div(class="row" style="height: 50px")
                            select(class="selectpicker", data-style="btn-info", name="weightlocation" style="margin: 10px 0 0 0")
                                   option(value="1") Not important
                                   option(value="2") Less important
                                   option(value="3") Indifferent
                                   option(value="4") Important
                                   option(value="5") Very Important
                        div(class="row" style="height: 50px;background-color: #c6e7e7")
                            select(class="selectpicker", data-style="btn-info", name="weightroom" style="margin: 10px 0 0 0")
                                    option(value="1") Not important
                                    option(value="2") Less important
                                    option(value="3") Indifferent
                                    option(value="4") Important
                                    option(value="5") Very Important
                        div(class="row" style="height: 50px")
                            select(class="selectpicker", data-style="btn-info", name="weightclean" style="margin: 10px 0 0 0")
                                    option(value="1") Not important
                                    option(value="2") Less important
                                    option(value="3") Indifferent
                                    option(value="4") Important
                                    option(value="5") Very Important
                        div(class="row" style="height: 50px;background-color: #c6e7e7")
                            select(class="selectpicker", data-style="btn-info", name="weightservice" style="margin: 10px 0 0 0")
                                    option(value="1") Not important
                                    option(value="2") Less important
                                    option(value="3") Indifferent
                                    option(value="4") Important
                                    option(value="5") Very Important
                        div(class="row" style="height: 50px")
                            select(class="selectpicker", data-style="btn-info", name="weightsleep" style="margin: 10px 0 0 0")
                                      option(value="1") Not important
                                      option(value="2") Less important
                                      option(value="3") Indifferent
                                      option(value="4") Important
                                      option(value="5") Very Important
                        div(class="row" style="height: 50px;background-color: #c6e7e7 ")
                            select(class="selectpicker", data-style="btn-info", name="weightfacility" style="margin: 10px 0 0 0")
                                      option(value="1") Not important
                                      option(value="2") Less important
                                      option(value="3") Indifferent
                                      option(value="4") Important
                                      option(value="5") Very Important
                        div(class="row" style="height: 50px")
                            select(class="selectpicker", data-style="btn-info", name="weightfood" style="margin: 10px 0 0 0")
                                     option(value="1") Not important
                                     option(value="2") Less important
                                     option(value="3") Indifferent
                                     option(value="4") Important
                                     option(value="5") Very Important
                        div(class="row" style="height: 50px")
                            div(class="form-group" style="height: 50px")
                                div(class="col-sm-6")
                                      p(align="left")
                                      input(type="submit" class="btn btn-default" onclick="saveAndExit()" value="Save and Exit")
                                div(class="col-sm-6")
                                      p(align="right")
                                      input(type="submit" class="btn btn-default" value="Next"  onclick="save()")
