.col-centered{
    float: none;
    margin: 0 auto;
}


.content {
font-family: georgia,serif;
font-size: 15px;
line-height: 15px;
letter-spacing:1px;
text-align: justify;
color: #131516
}


.text-small {
  font-family: georgia,serif;
  font-size: 15;
  line-height: 10px;
  letter-spacing:1px;
  text-align: justify;
  color: #131516
}

.titlereader {
font-family:Georgia,serif;
color:#666666;
font-size:20px;
line-height: 30px;
margin:0 0 0 60px;
}

#rcorners3 {
    border-radius: 10px;
    background: #909b9e;
    padding: 5px;
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
}

#rcorners {
    border-radius: 10px;
    background: #e3e7e7;
    padding: 2px 20px 0 20px;
    width: 90%;
    height: auto;
    margin: 0  5% 0 5%;
}


.titlesmall {
font-family:Georgia,serif;
color:#666666;
font-size:15px;
line-height: 30px;
margin:0 10px 0 0;
}
